# All runtime requirements.
-r requirements.in

# Tests and coverage.
pylint
pytest
coverage
PyYAML  # needed for reading .coveralls.yml
coveralls

# Documentation.
sphinx
sphinx_rtd_theme

# Others.
pip-tools  # pip-compile *.in requirements files.
notebook  # For running examples.
kaggle  # For downloading datasets used in the notebook examples.
